* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #232323;
  font-style: normal;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(220, 220, 220);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(60deg, rgba(119,118,255,1) 0%, rgba(174,44,241,1) 100%); 
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(60deg, rgba(119,118,255,1) 0%, rgba(174,44,241,1) 100%);
}

a:link {
  color: #7776ff;
}

a:visited {
  color: #ae2cf1;
}

/*::-webkit-scrollbar {
  display: none;
}
*/

body{
  background: rgb(65,67,68);
  background: linear-gradient(60deg, rgba(65,67,68,1) 0%, rgba(30,30,30,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.inicio {
  background: rgb(220, 220, 220);
  border: none;
  border-radius: 32px;
  padding: 20px;
  width: 640px;
  height: 440px;
  margin-left: 495px;
  margin-top: 85px;
}

.bglogo {
  border-radius: 100%;
  background: #525252;
  width: 410px;
  height: 410px; 
  left: 150px;
  top: 110px;
  position:absolute;
  z-index: 1;
}

.logo {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-flow:row-reverse;
  width: 59%;
  height: 59%;
  left: -231px;
  top: 124px;
}

.ini {
  text-align: center;
  color: rgb(35, 35, 35);
  margin-top: -2px;
}

.input {
  font-size: 15px;
  width: 420px;
  margin-left: 110px;
  margin-top: 25px;
  height: 52px;
  padding: 0px 20px;
  border: none;
  background-color: rgb(205, 205, 205);
  border-radius: 12px;
  box-sizing: border-box;
}

.input#email{
  margin-top: 22px;
}

.input#pass{
  margin-top: 40px;
}

.buttom_entrar {
  background: linear-gradient(60deg, rgba(119,118,255,1) 0%, rgba(174,44,241,1) 100%);
  font-size: 18px;
  color: white;    
  margin-top: 35px;
  margin-left: 234px;
  border: none;
  border-radius: 20px;
  width: 170px;
  height: 60px;
  cursor: pointer;
}

.con{
  font-size: 13px;
  margin-top: 20px;
  margin-left: 245px;
  display: flex;
}

.reg {
  font-size: 17px;
  text-align: center;
  margin-top: 35px;
}