* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-style: normal;
    text-decoration: none;
}

body{
      background: rgb(65,67,68);
      background: linear-gradient(60deg, rgba(65,67,68,1) 0%, rgba(30,30,30,1) 100%);
}

#inicio{
    border-radius: 32px;
    background: rgb(220, 220, 220);
    padding: 20px; 
    width: 640px;
    height: 440px; 
    left: 495px;
    top: 70px;
    position:absolute;
    z-index: 1;  
}