* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #232323;
    font-style: normal;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
  }

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  
::-webkit-scrollbar-track {
    background: rgb(228, 228, 228);
    border-radius: 100px;
}
  
::-webkit-scrollbar-thumb {
    background: linear-gradient(60deg, rgba(119,118,255,1) 0%, rgba(174,44,241,1) 100%); 
    border-radius: 100px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(60deg, rgba(119,118,255,1) 0%, rgba(174,44,241,1) 100%);
}
  
a:link {
    color: #7776ff;
}
  
a:visited {
    color: #ae2cf1;
}
  
body{
    background: rgb(65,67,68);
    background: linear-gradient(60deg, rgba(65,67,68,1) 0%, rgba(30,30,30,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.txt{
    color: rgb(220, 220, 220);
    text-align: center;
    font-size: 80px;
}

.img{
    width: 28%;
    height: 28%;
    margin-left: 450px;
}