body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #525252;
    box-sizing: border-box;
}

header {
    background: linear-gradient(
        60deg,
        rgba(119, 118, 255, 1) 0%,
        rgba(174, 44, 241, 1) 100%
      );
    color: #fff;
    text-align: center;
    padding: 10px;
}

.container {
    width: 100%;
    min-height: 100vh;
}

.container .row {
    width: 85%;
    margin: auto;
}

.container .row .heading-section {
    width: 60%;
    text-align: center;
    margin: auto;
}

.container .row .heading-section h1 {
    padding-top: 30px;
    font-size: 42px;
}

.container .row .heading-section span {
    color: rgb(175, 44, 241);
}

.container .row .heading-section p {
    margin-top: 15px;
    color: #fff;
    font-size: 17px;
    line-height: 1.5;
}
.content-section {
    display: flex;
    justify-content: flex-start; /* Alinear elementos al inicio del contenedor */
    align-items: flex-start; /* Alinear elementos en la parte superior del contenedor */
    margin: auto;
    flex-wrap: wrap;
}
.content-section .card {
    flex-basis: calc(33.33% - 40px); /* Ajustar el ancho para que haya tres elementos por fila */
    margin: 15px;
}
.content-section .card img {
    width: 350px;
    height: 240px;
}

.content-section .card h4 {
    margin-top: 20px;
    color: rgba(174, 44, 241, 1);
}

.content-section .card p {
    font-size: 15px;
    margin-top: 10px;
    color: #fff;
    line-height: 1.5;
    text-align: justify;
}

/* Ajustar el diseño en pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .container .row .heading-section {
        width: 100%;
    }

    .content-section .card {
        flex-basis: 45%; /* Reducir el tamaño de los elementos en pantallas medianas */
    }
}

/* Ajustar el diseño en pantallas aún más pequeñas */
@media screen and (max-width: 480px) {
    .container .row .heading-section h1 {
        font-size: 36px; /* Reducir el tamaño del título en pantallas pequeñas */
    }

    .content-section .card {
        flex-basis: 100%; /* Hacer que los elementos ocupen todo el ancho en pantallas pequeñas */
    }
}

