*{
    font-family: 'Segoe UI';
    text-decoration: none;
    user-select: none;
}

a:link {
    color: #7776ff;
}
  
a:visited {
    color: #ae2cf1;
}  

::-webkit-scrollbar {
    display: scroll;
}  

body{
    background: linear-gradient(60deg, #414344, #1e1e1e); /*Tema Oscuro (Default)*/
    /*background: linear-gradient(60deg, #8e9eab, #eef2f3);*/ /*Tema Claro*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.box {
    padding: 5% 16% 5% 16%;
    min-width: 62%;
    max-width: 100%;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: auto 1fr;
}

.item1{
    margin: auto auto auto auto; 
}

.item2 {
    margin: 55px 0px 55px 0px;
}

.bglogo {
    border-radius: 100%;
    background: #525252;
    max-width: 22em;
    max-height: 22em;
    z-index: 1;
    padding: 10px 10px 10px 10px;
}

.tittle_Reg {
    text-align: center;
    font-size: 30px;
    color: #232323;
    position: relative;
    top: 15px;
    margin: 0;
}

.registro {
    background: #dcdcdc;
    border: none;
    border-radius: 32px;
    width: auto;
    min-height: auto;
    max-height: 400px;
    position: relative;
    left: -50px;
    overflow-x: hidden;
    overflow-y: scroll;
    
}

form{
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
    padding: 15px 80px 6px 90px;
    margin: 0px;
}

.field {
    display: flex;
    align-items: center;
    grid-column: span 2;
}

.field_1, .field_2, .field_5, .field_6, .field_9, .field_10, .field_11, .field_12 {
    grid-column: span 2;
}

.field_3, .field_4, .field_7, .field_8 {
    grid-column: span 1;
}

.field_4 {
    grid-row: span 1;
}

.form-control{
    background-color: #cdcdcd;
    font-size: 15px;
    border: none;
    border-radius: 12px;
    height: 52px;
    padding: 0px 20px;
    box-sizing: border-box;
    position: relative;
    top: 0px;
    margin-left: 0px;
}

.form-control:focus{
    background-color: #cdcdcd;
}

.form-select{
    background-color: #cdcdcd;
    font-size: 15px;
    border: none;
    border-radius: 12px;
    width: 340px;
    height: 52px;
    padding: 0px 20px;
    box-sizing: border-box;
    position: relative;
    top: 0px;
    margin-left: 0px;
}

.form-select:focus{
    background-color: #cdcdcd;
}

.tip_doc{
    width: 100%;
}

.rol{
    width: 100%;
}

input[type="date"]{
    background-color: #cdcdcd;
    padding: 13px;
    border: none;
    border-radius: 12px;
    width: 100%;
}

::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.txt_pol {
    font-size: 11px;
    padding: 5px 0px 0px 0px;
    text-align: center;
    margin: 0px;
}

.txt_pol > a{
    cursor: pointer;
    color: #ae2cf1 !important;
    outline: none;
    text-decoration: none;
}

.reg_Btn{
    background: linear-gradient(60deg, rgba(119,118,255,1) 0%, rgba(174,44,241,1) 100%);
    font-size: 18px;
    color: white;    
    width: 170px;
    height: 60px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 0px;
}

.reg_Btn > a {
    text-decoration: none;
    outline: none;
    color: white;
}

.submit_btn{
    grid-column: span 2;
    text-align: center;
}

.logged{
    text-align: center;
    color: #232323;
    font-size: 15px;
}

.logged > a {
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

::-webkit-scrollbar {
    display: none;
}