body{
    background: linear-gradient(70deg, #22333d, #485663);   
}
#inicio {
    border-radius: 2px;
    background: linear-gradient(70deg, #364957, #405566);
    padding: 20px; 
    width: 72%;
    height: 88%; 
    left: 23%;
    top: 1%;
    position:absolute;
    z-index: 1;
}

#menu {
    border-radius: 2px;
    background: linear-gradient(70deg, #354857, #3b4e5d);
    padding: 20px; 
    width: 18%;
    height: 88%; 
    left: 1%;
    top: 1%;
    position:absolute;
  z-index: 1;
}
#usu{
border-radius: 2px;
background:#4e6577;
padding: 20px;
width: 16%;
height: 15%; 
left: 2%;
top: 3%;
position: absolute;
z-index: 2;
}

#button1 {
    background-color: #4e6577; 
    color: black; 
    margin-top: 13%;
    margin-left: 2%;
    position: absolute;
    z-index: 3;
    border-radius: 2px;
    width: 18%;
    height: 8%;
  }
  
  #button1:hover {
    background-color: #9493ff;
    color: white;
  }

  #button2 {
    background-color: #4e6577; 
    color: black; 
    margin-top: 18%;
    margin-left: 2%;
    position: absolute;
    z-index: 3;
    border-radius: 2px;
    width: 18%;
    height: 8%;
  }
  
  #button2:hover {
    background-color: #9493ff;
    color: white;
  }
  #button3 {
    background-color: #4e6577; 
    color: black; 
    margin-top: 23%;
    margin-left: 2%;
    position: absolute;
    z-index: 3;
    border-radius: 2px;
    width: 18%;
    height: 8%;
  }
  
  #button3:hover {
    background-color: #9493ff;
    color: white;
  }

  #button4 {
    background-color: #4e6577; 
    color: black; 
    margin-top: 28%;
    margin-left: 2%;
    position: absolute;
    z-index: 3;
    border-radius: 2px;
    width: 18%;
    height: 8%;
  }
  
  #button4:hover {
    background-color: #9493ff;
    color: white;
  }

  #button5 {
    background-color: #4e6577; 
    color: black; 
    margin-top: 33%;
    margin-left: 2%;
    position: absolute;
    z-index: 3;
    border-radius: 2px;
    width: 18%;
    height: 8%;
  }
  
  #button5:hover {
    background-color: #9493ff;
    color: white;
  }

  #img {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-flow: row;
    width: 20%;
    height: 14%;
    left: 8%;
    top: 78%;
}

#cop {
    color: white;
    position: absolute;
    z-index: 2;
    left: 5%;
    top: 92%;
}

#ico{
    position: absolute;
    z-index: 3;
    display: flex;
    flex-flow: row;
    width: 20%;
    height: 14%;
    left: 3%;
    top: 5%;
}

#nom {
    color: white;
    position: absolute;
    z-index: 2;
    left: 10%;
    top: 5%;
}

#sob {
    color: #979596;
    position: absolute;
    z-index: 5;
    left: 10%;
    top: 8%;
}

#sob1 {
    border-radius: 2px;
    background:#395060;
    padding: 20px;
    width: 5%;
    height: 3%; 
    left: 10%;
    top: 8%;
    position: absolute;
    z-index: 4;
    }