body{
    background: linear-gradient(70deg, #9593ff, #d957f9);   
}

#inicio {
    border-radius: 25px;
    background: linear-gradient(70deg, #22333d, #394c5a); 
    padding: 20px; 
    width: 60%;
    height: 93%; 
    left: 36%;
    top: 3px;
    position:absolute;
    z-index: 1;
}
#logo {
    border-radius: 100%;
    background: #3e4b54;
    padding: 2px; 
    width: 30%;
    height: 61%; 
    left: 12%;
    top: 19%;
    position:absolute;
  z-index: 1;
}

#img {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-flow: row;
    width: 30%;
    height: 64%; 
    left: 12%;
    top: 18%;
}

#titulo {
text-align: center;
font-size: 60px;
position: absolute;
z-index: 2;
left: 42%;
top: 10%;
}

#tex {
    text-align: center;
font-size: 25px;
position: absolute;
z-index: 2;
left: 45%;
top: 35%;
}

#button1 {
    background-color: #d757f7; 
    color: black; 
    
    margin-top: 30%;
    margin-left: 48%;
    position: absolute;
    z-index: 3;
    border-radius: 15px;
    width: 15%;
    height: 8%;
  }
  
  #button1:hover {
    background-color: #9493ff;
    color: white;
  }

  #button2 {
    background-color: #d757f7; 
    color: black; 
    
    margin-top: 30%;
    margin-left: 71%;
    position: absolute;
    z-index: 3;
    border-radius: 15px;
    width: 15%;
    height: 8%;
  }
  
  #button2:hover {
    background-color: #9493ff;
    color: white;
  }