* {
  font-family: "Segoe UI";
  color: #232323;
  font-style: normal;
  text-decoration: none;
  user-select: none;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(228, 228, 228);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    60deg,
    rgba(119, 118, 255, 1) 0%,
    rgba(174, 44, 241, 1) 100%
  );
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    60deg,
    rgba(119, 118, 255, 1) 0%,
    rgba(174, 44, 241, 1) 100%
  );
}

a{
  text-decoration: none;
  color: rgb(220, 220, 220);
}

/*
a:link {
  color: #7776ff;
}

a:visited {
  color: #ae2cf1;
}
*/
::-webkit-scrollbar {
  display: none;
}

body {
  background: rgb(65, 67, 68);
  background: linear-gradient(
    60deg,
    rgba(65, 67, 68, 1) 0%,
    rgba(30, 30, 30, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}

button {
  background-color: #333333;
  font-size: 20px;
  color: rgb(220, 220, 220);
  border: none;
  border-radius: 8px;
  height: 42px;
  width: 255px;
  margin-top: 12px;
  transition: background-color 0.5s ease;
}

button:hover {
  background: linear-gradient(
    60deg,
    rgba(119, 118, 255, 1) 0%,
    rgba(174, 44, 241, 1) 100%
  );
  color: rgb(220, 220, 220);
}

.btn_user {
  background-color: #525252;
  border: none;
  border-radius: 8px;
  padding: 18px;
  width: 290px;
  min-height: 100% !important;
  /**/
  margin-right: 0px !important;
}
.user {
  background-color: #333333;
  border: none;
  border-radius: 8px;
  height: 190px;
}

.user_img {
  width: 78px;
  height: 78px;
}

.user_name {
  color: rgb(220, 220, 220);
  font-size: 20px;
  padding-top: 10px;
  padding-left: 5px;
}
.user-cont {
  width: 100%;
  display: flex;
}
.info-user {
  display: grid;
  grid-template-columns: 50% 50%;
}
.cont-box {
  text-align: center;
  font-size: 14px;
  padding-top: 3px;
  color: rgb(220, 220, 220);
  width: auto;
  min-height: 84px;
  background: linear-gradient(#525252, #525252) padding-box,
    linear-gradient(to top, #7776ff, #ae2cf1) border-box;
  border-radius: 8px;
  border: 2px solid transparent;
  margin: 8px 7px; /*Ajustar separacion entre about y el gold*/
}

.about{
  color: rgb(220, 220, 220);
  text-align: left !important;
  padding-left: 6px;
  font-size: 12px;
}

.img_sub {
  display: flex;
  width: 50px;
  height: 50px;
  margin-left: 30px;
  margin-top: 3px;
}

.btn_temas {
  margin-top: 30px;
}

.logo{
  width: 80px;
  height: 80px;
  display: flex;
  margin: 20px 0px 0px 90px;
  opacity: 0%;
  transition: 0.6s;
}

.logo:hover{
  opacity: 100%;
}

.contenido {
  color: rgb(220, 220, 220);
  width: 100%; /*Tamano contenido */
  min-height: 100% !important;
  background-color: #525252;
  float: right;
  border: none;
  border-radius: 8px;
  padding: 1em;
  box-sizing: border-box;
}
.content {
  gap: 1em; /*Tamano entre menu y contenedor*/
  padding: 1em;
  min-height: 100vh !important;
  width: 100% !important;
  overflow: hidden;
  display: flex;
}
