:root {
    --w: calc(12vw);
    --h: calc(15vh);
}

* {
    transition: transform 0.3s ease;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    -webkit-perspective: 1000;
    background: linear-gradient(60deg, #414344, #1e1e1e); /*Tema Oscuro (Default)*/
    /*background: linear-gradient(60deg, #8e9eab, #eef2f3);*/ /*Tema Claro*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
}

        div {
            display: inline-block;
        }

        .area-tarjeta, .tarjeta, .cara {
            cursor: pointer;
            width: var(--w);
            height: var(--h);
        }

        .tarjeta {
            position: relative;
            transform-style: preserve-3d;
            animation: iniciar 0.5s;
        }

        .cara {
            position: absolute;
            backface-visibility: hidden;
            box-shadow: 0 0 5px rgba(170, 170, 170, 0.205);
            font-size: 2.5vw;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
        }

        .trasera {
            background-color: #cdcdcd;
            transform: rotateY(180deg);
        }

        .superior {
            background: linear-gradient(60deg,#7776ff, #ae2cf1);
            border-radius: 10px;
        }

        .nuevo-juego {
            cursor: pointer;
            background: linear-gradient(60deg,#7776ff, #ae2cf1);
            padding: 1rem;
            border-radius: 25px;
            border: none;
            color: #fff;
            font-size: 1rem;
        }

        @keyframes iniciar {
            20%, 90% {
                transform: rotateY(180deg);
            }
            0%, 100% {
                transform: rotateY(0deg);
            }
        }

        #felicitacion {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

#felicitacion h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

#felicitacion p {
  font-size: 20px;
  margin: 0;
}